<!-- Default dropstart button -->
{{#if user}}
<nav id='menu-fixo-user' class='navbar navbar-expand-lg no-print' style="position: relative;">
  <div class='btn-group col-12 gap-2 justify-content-end'>
    
    {{#if funges}}
    <label class='mt-2' style="font-size: 25px;font-weight: bold;">Visão Gerencial</label><br>
    {{else}}
    {{#if orcamentista}}
    <label class='mt-2' style="font-size: 25px;font-weight: bold;">Orçamentista</label><br>
    {{else}}
    {{#if funpro}}
    <label class='mt-2' style="font-size: 25px;font-weight: bold;">Projetista</label><br>
    {{else}}
    {{#if vendedor}}
    <label class='mt-2' style="font-size: 25px;font-weight: bold;">Vendedor</label><br>
    {{else}}
    {{#if instalador}}
    <label class='mt-2' style="font-size: 25px;font-weight: bold;">Instalador</label><br>
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}

    <a href='/dashboard'><i class='bi bi-house botao-filter' title="Dashboard"></i></a><br>
    {{!-- {{#if crm}}
    <a href='/gerenciamento/consulta' class="d-flex align-items-center"><i
        class="bi bi-search botao-filter d-flex align-items-center" title="Busca Propostas"></i></a><br>
    {{/if}} --}}
    <a href='/logout'><i class='bi bi-door-open botao-filter' style="padding-right: 10px" title="Sair"></i></a>
  </div>
</nav>
{{/if}}