<div class='quadro-prop' style="position: fixed;overflow: hidden;width: 100%;height: 100%;">
    <img src='avimmus.svg' style="width: 100%" />
</div>
<div style="position: relative;margin-top: 45%;">
        <img src='visao.svg' style="width: 100%;" />
        <img src='missao.svg' style="width: 100%;" />
        <img src='valores.svg' style="width: 100%;" />
</div>
<span id="mouse"></span>