<style>
    p {
        text-align: justify;
    }
</style>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/termo">Termos de Uso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: black" href="/politica">Políticas de Privacidade</a>
    </li>
</ul>
<div style="padding:30px;padding-left: 100px;padding-right: 40px;">
    <p>
        Este site, cujo domínio é www.vimmus.com.br (“SITE”) e o software Vimmus CG (“SOFTWARE”) são de
        propriedade,
        mantidos e operados pela VIMMUS SOLUÇÕE LTDA., micro empreendedor individual, inscrita no CNPJ nº.
        39.966.564/0001-19, com sede na Rua Arquiteto Flávio Cosme Gusatti, nº 44-D, EFAPI, CEP 88809-616 em
        Chapecó,
        Santa Catarina (“Vimmus”).
        O presente documento estabelece os termos e condições de uso do software Vimmus GC como Serviço – SaaS,
        sendo
        firmado entre a Vimmus e o contratante (“usuário” ou “cliente”), que concorda e adere integralmente aos
        presentes termos e condições de uso. Além disso, este instrumento visa prestar informações sobre o modo
        de
        utilização do software e suas ferramentas, condições, nomenclaturas, direitos e obrigações das partes
        envolvidas.
        Alertamos que todo o texto deve ser lido com atenção. Em caso de discordância com o conteúdo desse
        documento,
        não será possível o prosseguimento da relação comercial, bem como a navegação ou a utilização dos
        serviços
        prestados pela Vimmus.
        Recomendamos ainda que, em caso de aceitação, o cliente armazene ou imprima uma cópia deste documento,
        incluindo
        todos os seus termos e condições de uso.
    </p>
    <h6>1 – ATUALIZAÇÃO E DISPONIBILIZAÇÃO</h6>
    <p>
        O presente documento foi atualizado e disponibilizado em 08/04/2021, incluindo cláusulas relacionadas à
        confidencialidade e sigilo de informações, e em atendimento à Lei no 13.709/18 – Lei Geral de Proteção
        de Dados
        (LGPD), conforme item 14.1.
    </p>
    <h6>2 – NOMENCLATURAS</h6>
    <p>
        Abaixo estão dispostos os significados de algumas definições e termos na língua inglesa.
        Cookies: Pequenos arquivos de texto que ficam gravados no computador do internauta e podem ser
        recuperados pelo
        site que o enviou durante a navegação.
        Dados da empresa: qualquer informação disponibilizada pelo usuário que identifique sua empresa, tais
        como: nome
        empresarial, CNPJ, endereço, e-mail, número de telefone.
        Dados do responsável pela contratação: qualquer informação disponibilizada pelo usuário que permita a
        identificação da pessoa física responsável pela contratação e comunicação com a Vimmus, tais como: nome
        completo, carteira de identidade (RG), CPF e e-mail.
        IP: Significa “Internet Protocol”, traduzido para português como Protocolo da Internet e é um número que
        identifica um dispositivo (computador, impressora, roteador) em uma rede.
        Link: Ligação entre documentos na Internet.
        SaaS: sigla para “Software as a Service”, que em português significa Software como Serviço, permite que
        os
        usuários se conectem e usem aplicativos baseados em nuvem pela Internet.
        Spam: Mensagem eletrônica recebida, mas não solicitada pelo destinatário.
        LGPD: Lei Geral de Proteção de Dados (Lei no 13.709/18).
    </p>
    <h6>3 – O SERVIÇO</h6>
    <p>
        3.1 – O serviço fornecido pela Vimmus consiste em um software para gestão empresarial de projetos, que
        poderá
        auxiliar na tomada de decisão do contratante.
        3.2 – A cessão de uso do software é realizada de forma irrevogável, não exclusiva e intransferível por
        meio da
        internet, na modalidade de Software as a Service (SaaS), incluindo os serviços de hospedagem do software
        e banco
        de dados.
        3.3 – O software é composto pelo módulo de gestão de custos e seus recursos.
        3.4 – Para contratação dos serviços será necessário:
        (i) que o usuário aprove a Proposta Comercial da Vimmus;
        (ii) que o usuário forneça os dados solicitados na Proposta Comercial para que seja efetivado o cadastro
        e a
        liberação do software.
        3.5 – As limitações no serviço se darão de acordo com as especificações do plano contratado.
        3.6 – O serviço contratado contempla a versão atual e vigente do software. A Vimmus poderá realizar
        melhorias e
        atualizações no software mediante comunicação prévia ao usuário.
        3.7 – Inclui-se no serviço a manutenção de cópias de segurança (backups). As cópias de segurança
        (backups) são
        realizadas automaticamente e mantidas em locais físicos diferentes, assegurando a salvaguarda dos dados
        carregados pelo usuário ao software. O usuário poderá requerer cópias de segurança, mediante
        solicitação,
        considerando a programação e os prazos estabelecidos pela Vimmus.
        3.8 – Durante o cadastro, o cliente determinará sua senha de acesso, sendo de sua exclusiva
        responsabilidade a
        manutenção do sigilo dessa informação.
        3.9 – Em caso de perda, divulgação, roubo ou identificação de uso não autorizado da senha e/ou da conta
        de
        acesso, se verificado pelo cliente, este deverá informar imediatamente a Vimmus.
        3.10 – A Vimmus não se responsabilizará pelas ações, pagamentos e danos decorrentes do uso irregular da
        conta de
        acesso pelo cliente ou terceiros, exceto se comprovada a falha por parte da Vimmus.
    </p>
    <h6>4 – DA REMUNERAÇÃO</h6>
    <p>
        4.1 – Para utilizar o software o cliente deverá pagar à Vimmus os valores estabelecidos na Proposta
        Comercial
        aprovada.
        4.2 Os preços e formas de pagamento são fixos, conforme estabelecido na proposta.
        4.3 – A Vimmus também possui serviços de assessoria e consultoria que podem ser contratados e pagos de
        forma
        avulsa, cujos valores e condições serão definidos em termo de contratação específico.
        4.4 – Os valores cobrados não são reembolsáveis, ainda que o cliente não faça uso dos serviços.
        4.5 – A falta de pagamento de quaisquer valores nas respectivas datas de vencimento não acarretará na
        rescisão
        automática do contrato. A Vimmus se reserva o direito de bloquear o acesso ao software, caso a pendência
        não
        seja regularizada em até 30 (trinta) dias contados a partir da data de vencimento da fatura.
        4.6 – Caso o cliente não resolva a pendência financeira no prazo de 60 (sessenta) dias, contados da data
        de
        vencimento da fatura, a Vimmus se reserva o direito de rescindir o contrato entre as partes e de excluir
        de
        forma definitiva os dados do usuário que por ventura estejam armazenados no software.
        4.7 – A modificação e/ou atualização dos preços cobrados pelo uso de outros serviços, ocorrerá em
        conformidade
        ao que estabelece a Proposta Comercial.
        4.8 – Ocorrendo a contratação de serviços adicionais à Proposta Comercial vigente, a Vimmus se reserva o
        direito
        de gerar uma cobrança separada do preço da mensalidade acordada em proposta comercial.
    </p>
    <h6>5 – PROMOÇÕES E PERÍODOS DE TESTES</h6>
    <p>
        5.1 – A Vimmus poderá oferecer períodos de testes, descontos, acessos gratuitos ou pacotes promocionais
        a
        qualquer momento, por motivos puramente comerciais e a seu exclusivo critério.
        5.2 – As promoções e testes não serão cumulativos e poderão ser limitados a determinados serviços,
        períodos de
        tempo e a aceitação de condições especiais.
        5.3 – A Vimmus poderá interromper, cancelar ou modificar as promoções e testes a qualquer momento,
        respeitando
        as condições e prazos estabelecidos na Proposta Comercial correspondente.
    </p>
    <h6>6 – PROPRIEDADE INTELECTUAL</h6>
    <p>
        6.1 – O software tem seu uso licenciado por modalidade de serviço “Software as a Service” (SaaS) e não
        venda. A
        titularidade e os direitos relativos ao software pertencem exclusivamente à Vimmus.
        6.2 – O usuário não está autorizado a utilizar, sob qualquer forma ou pretexto, as marcas, suas
        variações,
        domínios e sinais que sejam da Vimmus ou que estiverem expostas no software, sob pena de infração à
        legislação
        aplicável.
        6.3 – Todo o conteúdo do software, incluindo programas, bases de dados, arquivos, textos, desenhos,
        fotos,
        layouts, cabeçalhos e demais elementos, foi criado, desenvolvido ou cedido a Vimmus, sendo, portanto, de
        propriedade exclusiva da Vimmus ou à ela licenciado e encontra-se protegido pelas leis brasileiras e
        tratados
        internacionais que versam sobre direitos de propriedade intelectual.
        6.4 – São proibidas: a exploração, cessão, imitação, cópia, plágio, aplicação de engenharia reversa,
        armazenamento, alteração, modificação de características, ampliação, sub licenciamento, venda, locação,
        doação,
        alienação, transferência, reprodução, integral ou parcial, de qualquer conteúdo do site ou do software.
        6.5 – O usuário que violar as proibições contidas na legislação sobre propriedade intelectual e nestes
        Termos e
        Condições de Uso Vimmus será responsabilizado, civil e criminalmente, pelas infrações cometidas, além de
        ser
        excluído da base de dados do software.
    </p>
    <h6>7 – OBRIGAÇÕES DAS PARTES</h6>
    <p>
        7.1 – São obrigações da Vimmus:
        (i) realizar os serviços conforme as condições contratadas pelo usuário, responsabilizando-se pelo
        funcionamento
        do software, pelas correções que eventualmente sejam necessárias e disponibilizando acesso aos serviços
        de
        suporte para esclarecimento de dúvidas em relação ao uso do software;
        (ii) comunicar qualquer alteração dos serviços aos usuários;
        (iii) fornecer o backup de sua base de dados conforme cláusula 3.7 do presente documento;
        (iv) efetuar alterações no software, decorrentes de ordem legal, sem qualquer custo para o cliente, de
        acordo
        com a política de atualização do software;
        (v) restituir ao usuário, após o fim da prestação dos serviços, todos os documentos que lhe tenham sido
        entregues ou tiver obtido, por qualquer forma, em decorrência do serviço, bem como, se for o caso,
        apagar,
        desinstalar e/ou destruir toda e qualquer informação ou dado de propriedade do cliente ou de terceiros a
        ele
        cedidos, ficando autorizada a retenção apenas dos documentos e materiais necessários para comprovar o
        cumprimento de suas obrigações.
        (vi) tratar os dados pessoais coletados e utilizados para a comunicação comercial dos produtos, serviços
        e
        promoções da Vimmus em conformidade com a Lei Geral de Proteção de Dados (Lei 13.709/18) e em
        conformidade ao
        descrito no documento Política de Privacidade Vimmus.
        7.2 – São obrigações do usuário:
        (i) utilizar o software conforme os critérios de utilização definidos pela Vimmus, sem alterar a sua
        programação, quebrar senhas ou realizar procedimentos que venham causar prejuízos a ele ou a empresa;
        (ii) responsabilizar-se pelo teor das informações que introduzir no software, uma vez que essas
        informações
        ficam apenas armazenadas nos servidores da Vimmus;
        (iii) efetuar os pagamentos dos valores devidos, nos prazos e formas contratados;
        (iv) informar a Vimmus sobre quaisquer alterações nas especificações dos serviços a serem realizadas.
    </p>
    <h6>8 – RESTRIÇÕES</h6>
    <p>
        8.1 – O usuário não poderá:
        (i) lesar os direitos da Vimmus, seus parceiros, usuários ou terceiros ou agir sob qualquer meio ou
        forma que
        possa contribuir com tal violação;
        (ii) executar atos que limitem ou impeçam a utilização do software ou acessar ilicitamente o software da
        Vimmus;
        (iii) introduzir programas, vírus ou realizar ações para obtenção de informações, serviços ou acesso as
        áreas de
        programação;
        (iv) explorar falhas do software, interferir na segurança ou em qualquer recurso do software;
        (v) utilizar aplicativos automatizados de coleta e seleção de dados para realizar operações massificadas
        ou,
        ainda, para coletar e transferir dados que possam ser extraídos do software para fins ilícitos, sendo
        reservado
        à VImmus o direito de investigar qualquer atividade suspeita;
        (vi) utilizar o software para difundir mensagens não relacionadas com o software ou com suas
        finalidades,
        incluindo mensagens com conteúdo impróprio;
        (vii) inserir dados que sejam falsos, desatualizados ou incompletos.
        8.2 – O usuário que praticar ações ilícitas e/ou proibidas e que estejam em desacordo com o presente
        documento,
        poderá ter seus serviços suspensos, os dados excluídos do software, respondendo civil e criminalmente
        por
        qualquer dano decorrente da violação.
    </p>
    <h6>9 – LIMITAÇÃO DE RESPONSABILIDADE</h6>
    <p>
        9.1 – O usuário contratante é o responsável pela utilização do software e pelas informações, senhas,
        conteúdo e
        documentos inseridos no software.
        9.2 – A Vimmus e seus representantes não serão responsabilizados por:
        (i) danos decorrentes de falhas no ambiente do usuário, tais como: ações de terceiros, problemas na
        conexão de
        rede e internet, ocorrência de vírus, falhas no hardware, falta de energia e indisponibilidade no
        ambiente
        operacional (equipamentos);
        (ii) danos e prejuízos que o usuário contratante possa ter em decorrência do mau uso do software em
        desacordo
        com as cláusulas do presente instrumento;
        9.3 – Fica esclarecido que o presente serviço não estabelece entre as partes qualquer vínculo
        empregatício,
        societário ou associativo, permanecendo cada parte como única responsável por todas as suas respectivas
        despesas
        e encargos, sejam de natureza trabalhista, previdenciária, fiscal, securitária, civil, penal ou de
        qualquer
        outra natureza ou espécie.
    </p>
    <h6>10 – DISPONIBILIDADE DO SOFTWARE E GARANTIAS</h6>
    <p>
        10.1 – O software, disponibilizado na Internet, não inclui as seguintes garantias:
        (i) adequação do software para um determinado fim específico solicitado pelo cliente;
        (ii) inexistência de defeitos, erros ou falhas;
        (iii) correção de problemas, danos ou prejuízos causados por decisões tomadas pelo usuário, assim como
        defeitos
        ou erros decorrentes de negligência, imprudência ou imperícia do cliente;
        (iv) problemas provenientes de caso fortuito ou força maior nos termos do artigo 393 do Código Civil;
        10.2 A Vimmus se reserva o direito de realizar modificações no software, tais como layout, conteúdo,
        funcionalidades e qualquer outro elemento que não impacte significativamente na usabilidade do mesmo.
        10.3 A Vimmus se reserva o direito de efetuar o cancelamento do software, mediante aviso prévio ao
        usuário de no
        mínimo 90 (noventa) dias.
        10.4 – Na eventual impossibilidade de continuar suas atividades, a Vimmus se compromete a entregar ao
        usuário
        contratante o backup de todos os seus dados carregados ao software, conforme item 3.7.
    </p>
    <h6>11 – POLÍTICA DE CONFIDENCIALIDADE E SIGILO DE INFORMAÇÕES</h6>
    <p>
        11.1 – Todas as informações obtidas de nossos clientes serão tratadas como confidenciais e sigilosas por
        parte
        da Vimmus e seus colaboradores.
        11.2 – A Vimmus e seus colaboradores se comprometem a manter sigilo absoluto sobre qualquer tipo de
        informação
        confidencial e sigilosa de nossos clientes, não utilizando tais informações para gerar benefício próprio
        ou
        alheio, presente ou futuro.
        11.3 – As informações confidenciais e sigilosas de nossos clientes, confiadas aos colaboradores da
        Vimmus,
        somente poderão ser comunicadas à terceiros ou outrem, mediante consentimento prévio e por escrito da
        empresa
        cliente e titular das informações.
        11.4 – Não configuram informações confidenciais e sigilosas aquelas já disponíveis ao público em geral e
        as que
        não são mais tratadas como confidenciais pela empresa cliente.
        11.5 – A Vimmus e seus colaboradores:
        (i) usarão as informações confidenciais e sigilosas de nossos clientes apenas com o propósito
        relacionado ao
        objeto contratual;
        (ii) manterão o controle das informações confidenciais e sigilosas de nossos clientes, as revelando
        apenas aos
        colaboradores que tiverem necessidade de ter conhecimento sobre elas;
        (iii) protegerão as informações confidenciais e sigilosas de seus clientes, através de criptografia em
        banco de
        dados e acessos restritos através de login e senha específicos;
        (iv) comunicarão imediatamente à empresa cliente, a ocorrência de qualquer incidente relacionado às
        informações
        confidenciais e sigilosas, não se eximindo de suas responsabilidades.
        11.7 – A manutenção da confidencialidade e sigilo das informações recebidas de nossos clientes será
        válida por
        prazo indeterminado, permanecendo válida mesmo após o fim da relação comercial entre a Vimmus e seu(s)
        cliente(s).
    </p>
    <h6>12 – POLÍTICA DE PROTEÇÃO DE DADOS PESSOAIS</h6>
    <p>
        12.1 – A Vimmus dispõe de uma política específica para regular a coleta, guarda e utilização de dados
        pessoais
        em atendimento a Lei Geral de Proteção de Dados (LGPD): Política de Privacidade Vimmus.
    </p>
    <h6>13 – IDIOMA</h6>
    <p>
        13.1 – Toda a documentação legal da Vimmus foi elaborada em língua portuguesa.
        13.2 – A versão em língua portuguesa dos documentos citados em 13.1 é a única consentida pela Vimmus. Em
        caso de
        contradição ou divergência entre a versão em português e eventual tradução para qualquer outro idioma,
        prevalecerá sempre a versão em língua portuguesa.
    </p>
    <h6>14 – DO PRAZO E DA RESCISÃO</h6>
    <p>
        14.1 – A contratação dos serviços, entra em vigor na data do aceite da Proposta Comercial, vigorando por
        prazo
        indeterminado.
        14.2 – O presente instrumento e a Política de Privacidade Vimmus, permanecerão em vigor por tempo
        indeterminado.
        14.3 – Qualquer das partes poderá a qualquer tempo promover a rescisão da prestação dos serviços, sem
        qualquer
        ônus, desde que comunicado por escrito com no mínimo 30 (trinta) dias de antecedência.
        14.4 – A rescisão poderá ser promovida a qualquer tempo, desde que a parte solicitante esteja em dia com
        suas
        respectivas obrigações, conforme estabelece o item 9 do presente instrumento.
    </p>
    <h6>15 – ALTERAÇÕES DO PRESENTE INSTRUMENTO</h6>
    <p>
        15.1 – A Vimmus poderá revisar, modificar e/ou atualizar, a qualquer momento, qualquer cláusula ou
        disposição
        contidas no presente instrumento.
        15.2 – A versão atualizada do presente instrumento será comunicada pela vimmus através de e-mail e pelo
        site
        www.vimmus.com.br
    </p>
    <h6>16 – LEI APLICÁVEL</h6>
    <p>
        16.1 – O software é controlado, operado e administrado pela Vimmus na cidade de Chapecó, Estado de Santa
        Catarina, Brasil, podendo ser acessado por qualquer dispositivo conectado à Internet.
        16.2 – Em vista das diferentes legislações locais nacionais e internacionais que possam existir, ao
        acessar o
        software, o usuário concorda que a legislação aplicável, para fins deste documento, será a vigente na
        República
        Federativa do Brasil.
    </p>
    <h6>17 – CONTATO</h6>
    <p>
        17.1 – A Vimmus disponibiliza canais de atendimento para receber todas as comunicações que o usuário
        desejar
        fazer:
        (i) Telefone: +55 49 9 9183-2978, de segunda à sexta-feira das 08h00 às 12h00 e das 13h30 às 18h00
        (horário de
        Brasília), exceto sábados, domingos e feriados.
        (ii) e-mail: para o endereço eletrônico solucoes@vimmus.com.br.
        17.2 – Todas as solicitações devem sempre estar acompanhadas das informações de contato do cliente, para
        que
        possamos finalizar o atendimento.
    </p>
    <h6>18 – DISPOSIÇÕES GERAIS</h6>
    <p>
        18.1 Os tributos que sejam devidos em decorrência direta ou indireta do presente termo, ou de sua
        execução,
        serão de exclusiva responsabilidade do contribuinte, assim definido na norma tributária, sem direito a
        reembolso. O cliente, quando fonte retentora, descontará e recolherá, nos prazos da lei, os tributos a
        que
        esteja obrigado pela legislação vigente.
        18.2 A Vimmus não poderá ceder, transferir ou sub-rogar, no todo ou em parte, a terceiros, qualquer
        direito ou
        obrigação objeto do presente termo, exceto mediante mútuo acordo entre as PARTES, por escrito.
        18.3 A Vimmus obriga-se a não empregar e/ou utilizar mão-de-obra infantil para a execução do presente
        Contrato,
        durante todo o seu prazo de vigência, bem como se obriga a não subcontratar e/ou manter relações
        negociais com
        quaisquer outras empresas que utilizem, explorem e/ou, por qualquer outro meio ou forma, empreguem o
        trabalho
        infantil em não observância ao contido na Lei n.º 8.069/90 (ECA – Estatuto da Criança e do Adolescente)
        e demais
        dispositivos legais que regulamentam a matéria.
        18.4 A Vimmus se compromete a não oferecer, dar ou concordar em dar à qualquer pessoa, ou solicitar ou
        aceitar
        ou concordar em aceitar de qualquer pessoa (seja por conta própria ou através de outra pessoa), qualquer
        presente ou pagamento, contrapartida ou benefício de qualquer espécie, tomando total liberdade para
        comunicar
        seu cliente, através do canal de denúncia anônima ou qualquer meio e a qualquer tempo, os detalhes de
        eventual
        prática ilegal que possa ser considerada suborno pelas leis anticorrupção em vigor.
    </p>
    <h6>19 – FORO</h6>
    <p>
        19.1 – A Vimmus e o usuário concordam que o Foro Central de Chapecó, Estado de Santa Catarina, Brasil,
        será o
        único competente para dirimir qualquer questão ou controvérsia oriunda ou resultante do uso do software,
        renunciando expressamente a qualquer outro, por mais privilegiado que seja, ou venha a ser.
    </p>
</div>