<div class='container mt-4'>
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin-top: 30px;">
                <h4 class="text-center mb-4">Você tem certeza que deseja excluir este Cliente?</h4>
                <h2 class="text-center mb-4">{{cliente.nome}}</h2>
                <div class='btn-group btn-group-lg gap-2' role='group'>
                    <a class='btn btn-danger' href='/cliente/remover/{{cliente._id}}'>Sim</a>
                    <a class='btn btn-secondary' href='/cliente/consulta'>Não</a>
                    <a class='btn btn-primary' href='/cliente/consulta'>Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>