<div class='caixa-confirma'>
    <div class="card-body">
        <div class="row" style="margin-top: 30px;">
            <h4 class="text-center mb-4">Você tem certeza que deseja excluir esta Equipe</h4>
                <h2 class="text-center mb-4">{{equipe.nome}}</h2>
                <div class="row">
                    <div class='btn-group btn-group-lg gap-2' role='group'>
                        <a class='btn btn-danger' href='/pessoa/removerequipe/{{equipe._id}}'>Sim</a>
                        <a class='btn btn-secondary' href='/pessoa/consultaequipepadrao'>Não</a>
                        <a class='btn btn-primary' href='/pessoa/consultaequipepadrao'>Voltar</a>
                    </div>
                </div>
        </div>
    </div>
</div>