<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI;
    color: white;
  }

  .body {
    background-color: #001263e5;
    font-family: 'Roboto', Helvetica, sans-serif;
  }

  .lists {
    display: flex;
    flex: 1;
    width: 100%;

  }

  .lists .list {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 150px;

    background-color: rgba(255, 253, 253, 0.1);
    margin: 0 15px;
    padding: 8px;
    transition: all 0.2s linear;
  }

  .fill {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 8px;
    padding: 15px 20px;
    text-align: center;
    margin: 4px 0px;
    cursor: pointer;
  }

  .hold {
    border: solid 5px #ccc;
  }

  .empty {
    display: flex;
    flex-flow: column;
    flex: 1;

    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    min-height: 150px;

    background-color: rgba(255, 253, 253, 0.1);
    margin: 0 15px;
    padding: 8px;
    transition: all 0.2s linear;
  }

  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }
</style>
<form method='post' action='/pessoa/salvarequipe'>
  <div class="body">
    <header>
      <div class="row text-center">
        <h2 style="margin-top: 40px;">Criação de Equipes</h2><br>
        <p style="color: white;">Aqui serão ser criadas as equipes que poderão ser vinculadas aos projetos </p>
      </div>
    </header>
    <div class="card-body">
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <label class="col-form-label col-form-label-sm fw-bold" style="color: white;">Nome Equipe:</label>
            </div>
            <div class="col-md-8">
              <input type='text' class="form-control">
            </div>
          </div>
          <div class="row">
            <button type='submit' class="col-6 btn btn-success btn-lg"
              style="margin-left: 100px; margin-block-start: 60px;">Criar Equipe</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="lists">
            <div class="list">
              <label class="col-form-label col-form-label-md fw-bold text-center">Profissionais Disponíveis</label>
              {{#each instaladores}}
              <div class="fill" style='color: black;' draggable="true" name='{{_id}}'>{{nome}}</div>
              {{else}}
              {{/each}}
            </div>
            <div class="empty">
              <label class="col-form-label col-form-label-md fw-bold text-center" name='funins'>Profissionais
                Alocados</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>



<script>
  const fill = document.querySelector('.fill');
  const empties = document.querySelectorAll('.empty');

  // Fill listeners
  fill.addEventListener('dragstart', dragStart);
  fill.addEventListener('dragend', dragEnd);

  // Loop through empty boxes and add listeners
  for (const empty of empties) {
    empty.addEventListener('dragover', dragOver);
    empty.addEventListener('dragenter', dragEnter);
    empty.addEventListener('dragleave', dragLeave);
    empty.addEventListener('drop', dragDrop);
  }

  // Drag Functions

  function dragStart() {
    this.className += ' hold';
    setTimeout(() => (this.className = 'invisible'), 0);
  }

  function dragEnd() {
    this.className = 'fill';
  }

  function dragOver(e) {
    e.preventDefault();
  }

  function dragEnter(e) {
    e.preventDefault();
    this.className += ' hovered';
  }

  function dragLeave() {
    this.className = 'empty';
  }

  function dragDrop() {
    this.className = 'empty';
    this.append(fill);
  }

</script>