<div style="padding:20px">
    <h5 class='fw-bold'>Laudo de Vistoria Final</h5>
    <div class="row">
        <div class="col">
            <label class='col-form-label'>Aterramento</label>
            <div class="form-check">
                <label class='col-form-label col-form-label-sm form-check-label'>Conexão do Aterramento</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Isolamento do Aterramento</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Conexão do Aterramento com o
                    Sistema</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <hr>
            <label class='col-form-label'>Inversor</label>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Configuração Strings</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Medição da Corrente</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Medição da Tensão</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Medição da Potência</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class="row" style="margin-top: 50px;">
                <label>_______________________________________________________</label>
                <label class='col-form-label col-form-label-sm'>Técnico Responsável: {{pessoa.nome}}</label>
                <label class='col-form-label col-form-label-sm'>CPF: {{pessoa.cpf}}</label>
                <label class='col-form-label col-form-label-sm'>ART de Execução: {{projeto.numartexec}}xxxxxx</label>
                <label class='col-form-label col-form-label-sm'>CREA: {{pessoa.crea}}xxxxxx</label>
            </div>
        </div>
        <div class="col">
            <label class='col-form-label'>String Box</label>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Fixação da Caixa de Proteção</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>DPS</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Disjuntores</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Ligação AC</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Ligação DC</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Instalação de Eletrocalhas</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Conexões dos Cabos</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <hr>
            <label class='col-form-label'>Estrutura e Módulos</label>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Fixação das Estruturas</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Fixação dos Módulos nas
                    Estruturas</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Conexões MC4</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Conexões de Aterramento</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
            <div class='form-check'>
                <label class='col-form-label col-form-label-sm form-check-label'>Amarração dos Cabos</label>
                <input class='form-check-input' style="margin-top: 6px;" type="checkbox">
            </div>
        </div>
    </div>
</div>