<div class='caixa-confirma mt-4'>
    <div class="card-body">
        <div class="row" style="margin-top: 30px;">
            <h4 class="text-center mb-4">Você tem certeza que deseja excluir este Usuário</h4>
                <h2 class="text-center mb-4">{{usuario.nome}}{{acesso.usuario}}</h2>
                <div class="row">
                    <div class='btn-group btn-group-lg gap-2' role='group'>
                        <a class='btn btn-danger' href='/administrador/remover/{{usuario._id}}{{acesso._id}}'>Sim</a>
                        <a class='btn btn-secondary' href='/administrador/acesso'>Não</a>
                        <a class='btn btn-primary' href='/administrador/acesso'>Voltar</a>
                    </div>
                </div>
        </div>
    </div>
</div>
